<div class="post">

  <div ng-show="vm.isInLeagueMode">

    <h1 class="text-center"> Choose a league </h1>
    <input class="search-btn pull-right" placeholder="Search for a League" ng-model="search.name">
    <div ng-repeat="league in vm.leagues | filter:search">
      {{ league.caption }}
      <button ng-click="vm.getTeams(league.id)">Select</button>
    </div>
  </div>


  <div ng-show="vm.isInTeamMode">

    <h1 class="text-center"> Choose a Team </h1>
    <h2 class="text-center" ng-bind="vm.league.caption"> </h2>
    <input class="search-btn pull-right" placeholder="Search for a League" ng-model="search.name">
    <div ng-repeat="team in vm.teams | filter:search">
      {{ team.name }}
      <button ng-click="vm.getGames(team.id, team.links.fixtures.href)">Select</button>
    </div>
  </div>

  <div ng-show="vm.isInGameMode">

    <h1 class="text-center"> Choose a Game </h1>
    <h2 class="text-center" ng-bind="vm.league.name"> </h2>
    <h3 class="text-center" ng-bind="vm.team.name"> </h3>
    <div ng-repeat="game in vm.games">
      {{ game.home }} game
      Opponent - {{ game.opponent }}
      Date - {{ game.date }}
      Goals for - {{ game.for }}
      Goals Against - {{ game.against }}
      Status - {{ game.status }}
      <button ng-click="vm.getPosts(game.matchday)">Select</button>
    </div>
  </div>

  <div ng-show="vm.isInPostMode">

    <h1 class="text-center"> Posts </h1>
    <h2 class="text-center" ng-bind="vm.team.name"> </h2>
    <h3 class="text-center" ng-bind="vm.game.date"> </h3>
    <h4 class="text-center" ng-bind="vm.game.opponent"> </h3>
    <div class="margin-b-20">
      <button ng-click="showadd=true">Add a Post</button>
      <input class="search-btn pull-right" placeholder="Search for a Post" ng-model="search.name">
    </div>

    <form name="addForm" ng-show="showadd" ng-submit="showadd=false">

      <input name="addTitle"
      type="text"
      class="new-post"
      placeholder="Post Title"
      ng-model="vm.post.title"
      required="required"
      >

      <input name="addBody"
      type="text"
      class="new-body"
      placeholder="Post Body"
      ng-model="vm.post.body"
      required="required"
      >

      <button ng-if="addForm.$valid " ng-click="vm.handleCreate()">Add</button>

      <div ng-messages="addForm.addTitle.$error" ng-if="addForm.addTitle.$touched && addForm.addTitle.$error ">
        <div class="error-message text-center" ng-message="required">Title Required!
        </div>
      </div>

      <div ng-messages="addForm.addBody.$error" ng-if="addForm.addBody.$touched && addForm.addBody.$error ">
        <div class="error-message text-center" ng-message="required">Body Required!
        </div>
      </div>

    </form>

    <div ng-repeat="post in vm.posts | filter:search">
      <div ng-show="vm.isInReadMode(post.id)">
        {{ post.title }}
        {{ post.body }}
        <button ng-click="vm.startEdit(post.id, post.title, post.body)">Edit</button>
        <button ng-click="vm.handleDelete(post.id)">Delete</button>
      </div>

      <div ng-show="vm.isInEditMode(player.id)">
        <form name="editForm">

          <input
            name="editTitle"
            type="text"
            class="edit-post"
            ng-model="vm.post.title"
            required="required"
          >
          <input
            name="editBody"
            type="text"
            class="edit-post"
            ng-model="vm.post.body"
            required="required"
          >
          <button ng-if="editForm.$valid " ng-click="vm.handleEdit(post.id)">Save</button>
          <button ng-click="vm.handleCancel()">Cancel</button>

          <div ng-messages="editForm.editTitle.$error" ng-if="editForm.editTitle.$touched && editForm.editTitle.$error ">
              <div class="error-message text-center" ng-message="required">Post title required!
              </div>
          </div>
          <div ng-messages="editForm.editBody.$error" ng-if="editForm.editBody.$touched && editForm.editBody.$error ">
              <div class="error-message text-center" ng-message="required">Post body required!
              </div>
          </div>
        </form>
      </div>
    </div>

  <button ui-sref="home">Home</button>

</div>
